<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processamento de Dados</title>
</head>
<body>
  <h1>Processamento de Dados</h1>
  <form (ngSubmit)="getResults()" #numberForm="ngForm">
    <label for="results">Insira uma lista de números inteiros separados por vírgula:</label>
    <input type="text" id="results" name="results" [(ngModel)]="numberList" required>
    <button type="submit" [disabled]="!numberForm.form.valid">Enviar</button>
  </form>
  <ul *ngIf="results">
    <li *ngFor="let result of results">
      {{ result.number }} x {{ result.multiplier }} = {{ result.result }}
    </li>
  </ul>
</body>
</html>
